@import "tailwindcss";

body {
  background-color: #0F172A;
  color: white;
  font-family: "Poppins", sans-serif;
}

@keyframes laser {
  0%, 100% { top: 15%; }
  50% { top: 85%; }
}

.animate-laser {
  animation: laser 3s infinite ease-in-out;
}

@keyframes scan {
  0%, 100% { top: 10%; }
  50% { top: 90%; }
}

.animate-scan {
  animation: scan 2s infinite ease-in-out;
}

@keyframes shimmer {
  0%   { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.scrollbar-thin::-webkit-scrollbar {
  width: 3px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #000;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 9px;
}

/* Custom Scanner Viewport Styling */
#reader-custom {
  width: 100% !important;
  border: none !important;
  position: relative;
  overflow: hidden;
}

#reader-custom video {
  width: 100% !important;
  max-height: 460px !important;
  object-fit: cover !important;
  display: block !important;
  margin: 0 auto !important;
}

#reader-custom img,
#reader-custom canvas {
  display: none !important;
}

#reader-custom__dashboard_section,
#reader-custom__header_message {
  display: none !important;
}
